body {
  /*white back gound*/
  background-color: #f6f6f6 !important;
  /*green back gound*/
  /*background-color: #a7c957; */
  /* background-color:lightgrey; */


}

.sec1 {
  background-image: url("/images/header-main.png");
  background-color: #cccccc;
  border-radius: 20px;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.parking {

  border-radius: 20px;

  height: 300px;
  width: 340px;

}

/* LOGO */
.logo {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-right: 20px;
}

.logo-text {
  color: white;
  text-align: center;
  position: relative;

}

.ramadan-text {
  color: white;
  text-align: center;
  position: relative;

}

.logo-maintext {

  color: white;
  position: relative;

}

.short-nav {
  position: relative;
  text-align: center;
  color: white;
  font-size: 18Px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon {
  height: 30px;
  width: 40px;
  position: relative;

}

.fimage {
  height: 25px;
  width: 30px;
  position: relative;
}

.colum-1 {
  background-image: url("../images/colum1.jpeg");
  height: 200px;
  padding-top: 25px;
  border-radius: 15px 15px 15px 15px;
}

.colum-2 {
  background-image: url("../images/colum1.jpeg");
  height: 200px;
  padding-top: 25px;
  border-radius: 15px 15px 15px 15px;
}

.colum-3 {
  background-image: url("../images/colum3.jpeg");
  height: 200px;
  padding-top: 25px;
  border-radius: 15px 15px 15px 15px;
}

.nav-item {
  font-size: 20px !important;
}

.event-image {

  width: 100%;
  height: 100px;
  border-radius: 15px 15px 15px 15px;
}

.text-purple {
  color: purple;;
}

.date {
  color: purple;;
  font-weight: bold;
  padding-top: -10px;
}

a:link {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  background-color: purple;;
  color: whitesmoke;
}

a.flink {
  color: black;
}

.foot {
  background-image: url('../images/footer-mc4.jpg');
  background-color: teal;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: purple;;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: maroon;
}

.heading-mc4 {
  padding-top: 20px;
  text-align: center;
  color: #070404;
  font-weight: bold;
  font-size: 1.4em;
  font-family: Helvetica;
  color: purple;
}

.heading2-mc4 {
  padding-top: 20px;
  text-align: center;
  color: #070404;
  font-style: italic;
  font-size: 1.4em;
  font-family: Helvetica;
  color: purple;
}

.ramadan-date {
  font-size: 18px;
  width: 100%;
  height: 30px;
  text-align: center;
  color: green;
}

.nav-body {
  background-image: url('../images/header-main.png');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  position: relative;
}

.nav-body-ramadan {
  background-image: url('../images/Ramadan2.jpeg');
  background-color: wheat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  position: relative;
}

.nav-body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.news {
  padding-top: 10px;
  width: 100%;
  height: 30px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url('../images/menu.png') !important;
}

.double {
  background-image: url('../images/header-main.png');
  background-position: 0 1.03em;
  background-repeat: repeat-x;
  background-size: 2px 6px;
}

.intro-text{
  margin: 10px;
}

.slide-mc4 {
  float: left;
  width:  100px;
  height: 400px;
  object-fit: cover;
}

.slide1-mc4 {
  float: left;
  width:  30%;
  height: 150px !important;
  object-fit: cover;
}

.slide2-mc4 {
  
  width:  80%;
  height: 400px !important;
  object-fit: cover;
}

.aboutus-img-mc4 {
  width:  80%;
  height: 400px !important;
  object-fit: cover;
}